In [1]:
import pandas as pd
import numpy as np

In [8]:

# Load an Excel file
file_path = '/Users/jiahang/Downloads/result_exp2.xlsx'
df = pd.read_excel(file_path)

In [9]:
df

         model_name  best_test_rmse
0               GAT       15.284472
1               GAT       15.537658
2               GAT       15.589890
3               GAT       15.594547
4               GAT       15.622895
..              ...             ...
135  SGC_fuse_embed       16.057848
136  SGC_fuse_embed       17.139071
137  SGC_fuse_embed       17.680481
138  SGC_fuse_embed       17.999846
139  SGC_fuse_embed       18.155109

[140 rows x 2 columns]

In [25]:
stats = df.groupby('model_name').best_test_rmse.agg(['mean', 'std']).sort_values(by='mean').reset_index()
stats['mean ± std'] = stats['mean'].map('{:.4f}'.format) + ' ± ' + stats['std'].map('{:.4f}'.format)
stats = stats[['model_name', 'mean ± std', 'mean', 'std']]

In [26]:
stats

         model_name        mean ± std       mean       std
0               Mew  16.1737 ± 1.1260  16.173731  1.126028
1               SGC  16.2452 ± 1.1681  16.245209  1.168097
2             MHGCN  16.2801 ± 1.1606  16.280134  1.160590
3         NeuroPath  16.3245 ± 1.1264  16.324475  1.126352
4    SGC_fuse_embed  16.3279 ± 1.2904  16.327950  1.290405
5               GCN  16.3448 ± 1.2755  16.344793  1.275522
6              SAGE  16.4192 ± 1.1398  16.419231  1.139802
7    GCN_fuse_embed  16.4592 ± 1.2194  16.459198  1.219365
8   SAGE_fuse_embed  16.5462 ± 1.4488  16.546190  1.448795
9    GAT_fuse_embed  16.5954 ± 1.6190  16.595414  1.618972
10              GAT  17.4703 ± 3.3405  17.470344  3.340487